.alerta{
    position:fixed;
    bottom: 50px;
    right: 20px;
    z-index: 2000;
    display: none;
}
.twitterIconDataTable{
    font-size: 30px;
}
.twitterIconDataTable:hover{
    opacity: 0.5;
}
.inputTwitter{
    width: 100%;
    max-width: 100%;
    max-height: 200px;
}
.campoResumenTablaPosts{
    max-width: 300px;
    overflow: hidden;
}
