.categoryPost{
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}
#categoryPostsContainer{
    
}
.categoryPostLink:link{
    text-decoration: none;
    color: black;
}
.categoryPostLink:visited {
    text-decoration: none;
}
.categoryPostLink:hover {
    text-decoration: none;
}
.categoryPostImage{
    overflow:hidden;
    padding: 0px;
}
.categoryPostImage  img{
    width: 100%;
    object-fit: cover;
    height: 100%;
    max-height: 250px;
}
.categoryPostInfo >h1 {
    margin-top: 0px;
}

.categoryPostText{
    color:#777;
    height:15%;
    overflow:hidden;
    margin-bottom:0px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:6;
    text-overflow: ellipsis;
    font-family: 'Montserrat', sans-serif;
}
.categoryPostData{
    height: 20px;
}
.categoryPostDataSeparator{
    float:left;
    margin: 0 6 0 0px;
}

.categoryPostSocialIcon{
    height: 20px;
    width: 20px;
    color:orange;
    text-align: center;
    font-size: 19px !important;
}
.categoryPostSocialIcon:hover{
    color:deepskyblue;
}
.categoryPostDate{
    padding: 0px;
    color:#777;
    font-family: 'Montserrat', sans-serif;
    width: 80px;
}
.categoryPostSeparator{
    margin: 0px;
    border-color:#D6D6D6;
}
.categoryPostsSidebar{
    
}
.sidebarLink{
    width: 100%;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    float:left;
    border-style: solid;
    border-width: 0px;
    border-color:#D6D6D6;
}
.sidebarLink > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    float:left;
}
.sidebarPost{
    width: 100%;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}
.sidebarPostImg{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.sidebarPostTitle{
    margin-left: 10%;
    width: 80%;
    opacity: 60;
    position: absolute;
    bottom: 5%;
    z-index: 1;
    object-fit: contain;
    font-size: 4.5vw;
    font-weight: bold;
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;
}
.sidebarPostTitle > p{
    background-color: rgba(54, 25, 25, .8);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:2;
    text-overflow: ellipsis;
    padding:4px;
    font-family: 'Raleway', sans-serif;
}
@media (min-width: 992px) {
    .sidebarPostTitle{font-size: 1.2em;}
}

.paginationright{
  float:right;
}

.titulo{
   font-size: 26px;
   font-family: 'Roboto', sans-serif;
   font-weight: 900;

}
.categoryPostCategory{
    color: orange;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 1.2px;

}
