h1 {
  font-family: "Poppins",sans-serif;
  font-weight: 400;
  font-size: 48px;
  text-align: center;
  vertical-align: baseline;
}

.titulo hr {
  border: solid 3px orange;
  text-align: center;
  max-width: 150px;
  margin-top: 5px;
}

.contenido p {
  line-height: 28.9px;
  font-size: 17px;
  vertical-align: baseline;
  text-align: justify;
  font-weight: 400;

}

.formulario_captcha {
  text-align: center;
}


.formulario_nova_entrada h5 {
  float: left;
  font-weight: bold;
}

.formulario_nova_entrada h6 {
  float: right;
  font-weight: bold;
}
